<div class="footer">
    <span>Copyright © <%- new Date().getFullYear();%> <%= config.title %></span>
</div>

<!-- <%- css('css/highlight.default.css') %> -->
<%- css_inline('css/atom-one-dark.css') %>
<%- css_inline('css/code-theme.css') %>
<%- js('js/highlight.min.js') %>
<%- js('js/highlightjs-line-numbers.js') %>
<%- js('js/juice.js') %>
<%- js('js/copy_wechat.js') %>

<script>
    hljs.highlightAll();
    // window.onload = function() {
    //     // 判断是否为手机浏览器
    //     const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);

    //     if (!isMobile) {
    //         fetch('https://pinned.github.io/bing-daily-picture/index.json')
    //             .then(response => response.text())
    //             .then(data => {
    //                 var result = JSON.parse(data)
    //                 var count = result.images.length
    //                 const index = Math.floor(Math.random() * count);
    //                 document.getElementById("bing-bg").src = "https://cn.bing.com" + result.images[index].url;
    //             }); // 返回的结果
    //     } 
    // }    
</script>
