<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" name="viewport" />
    <link rel="alternate icon" type="image/png" href="<%- url_for('/img/favicon.png') %>">
    <% if (is_post()) { %>
        <title><%= page.title %> </title>
    <% } else { %>
        <title><%= config.title %> </title>
    <% } %>
    <%- css_inline('css/reset.css') %>
    <%- css_inline('css/style.css') %>
    <%- css_inline('css/markdown.css') %>
    <%- css('css/fonts.css') %>
</head>