<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    <body>
        <img id="bing-bg" src="http://cn.bing.com/th?id=OHR.WorldOtterDay_EN-US4690332709_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp" referrerpolicy="no-referrer" />
        <div class="paper">
            <div class="paper-main">
                <% if (is_post()) { %>
                    <%- partial('_partial/post-header') %>
                <% } else { %>
                    <%- partial('_partial/header') %>
                <% } %>
                <%- body %>
                <!-- <% if (is_post()) { %>
                    <%- partial('_partial/next_page') %>
                <% } %> -->
                <%- partial('_partial/footer') %>
            </div>
        </div>
    </body>
</html>