<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    <body>
        <img id="bing-bg" src="" referrerpolicy="no-referrer" />
        <div class="paper">
            <%- partial('_partial/toc')%>
            <div class="paper-main">
                <% if (is_post()) { %>
                    <%- partial('_partial/post-header') %>
                <% } else { %>
                    <%- partial('_partial/header') %>
                <% } %>
                <%- body %>
                <!-- <% if (is_post()) { %>
                    <%- partial('_partial/next_page') %>
                <% } %> -->
                <%- partial('_partial/footer') %>
            </div>
        </div>
    </body>
</html>