<div class="post-main">

    <% if (is_post()) { %>
        <div class="post-meta">
            <a class='author' href="<%- url_for() %>"><%= config.author %></a> <span id="clipboardbtn"><%- date(page.date, "YYYY年MM月DD日") %></span>
        </div>
        <div id="copy-post-content">
            <section id="beautiful">
            <div class="post-md" >
                    <%- page.content %>
                    <hr/>
            </div>
            </section>
        </div>
        <div style="margin: auto;">
            <div>
                <img src="https://moe-counter.glitch.me/get/@pinned_blog_<%- page.title %>?theme=moebooru" style="margin: 0 auto;" referrerpolicy="no-referrer">
            </div>
        </div>
        <input id="copy-input" style="position: absolute; left: -1000px; z-index: -1000;">

    <% } else { %>

        <div class="post-md">
            <%- page.content %>
        </div>

    <% } %>

</div>