<div class="post-main">

    <% if (is_post()) { %>
        <div class="post-meta">
            <a class='author' href="<%- url_for() %>"><%= config.author %></a> <span id="clipboardbtn"><%- date(page.date, "YYYY年MM月DD日") %></span>
        </div>
        <div id="copy-post-content">
            <section id="beautiful">
            <div class="post-md" >
                    <%- page.content %>
                </div>
            </section>
        </div>
        

    <% } else { %>

        <div class="post-md">
            <%- page.content %>
        </div>

    <% } %>

</div>